[submodule ".tmux/plugins/tmux-gruvbox"]
	path = .tmux/plugins/tmux-gruvbox
	url = https://github.com/egel/tmux-gruvbox.git
[submodule ".tmux/plugins/vim-tmux-navigator"]
	path = .tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
